<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishaan.ishaanphonicsmartapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhonicSmart">
        <activity android:name=".AlternativeSounds"></activity>
        <activity android:name=".TrickyWord" />
        <activity android:name=".drawGIF" />
        <activity android:name=".DrawHomeScreen" />
        <activity android:name=".ResetPass" />
        <activity android:name=".LetterSounds" />
        <activity android:name=".LetterSoundGrps" />
        <activity android:name=".Home_scr" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>